body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

h1, h2, h3, h4, h5 {
    color: #2c3e50;
}

.center_content_hv {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtext {
    color: #95a5a6;
}

.super_big_centered {
    font-size: 5em;
    color: #e74c3c;
}

.banner {
    background-image: url('assets/main_banner.png');
    background-size: cover; 
    background-position: center;
    text-align: center;
    height: 200px;
}

.logo {
    max-width: 100%;
    height: auto;
    display: inline-block;
    margin: 20px 0;
}

.section {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #2c3e50;
}

p {
    line-height: 1.6;
    margin-bottom: 10px;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}