body {
  background-color: #22202e;
  color: white;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font: "Kulim Park";
  text-align: center;
  font-size: 200%;
  font-weight: bold;
}
